<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>847857216356-vejujne1pst6q0ubed1mmhj8ggkfemds.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.847857216356-vejujne1pst6q0ubed1mmhj8ggkfemds</string>
	<key>API_KEY</key>
	<string>AIzaSyC7df1sun2swees_fmouK_SxlpCq0IFnYo</string>
	<key>GCM_SENDER_ID</key>
	<string>847857216356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.julianvu.notesFirebaseDddCourse</string>
	<key>PROJECT_ID</key>
	<string>note-app-9fbe3</string>
	<key>STORAGE_BUCKET</key>
	<string>note-app-9fbe3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847857216356:ios:202d1061abebe959cae871</string>
</dict>
</plist>